version: "3.8"

services:
  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=boundary
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 5s
      retries: 5

  db-init:
    image: hashicorp/boundary:latest
    command: ["database", "init", "-config", "/boundary/boundary.hcl"]
    volumes:
      - "${PWD}/:/boundary/"
    environment:
      - BOUNDARY_PG_URL=postgresql://postgres:postgres@db/boundary?sslmode=disable
    depends_on:
      db:
        condition: service_healthy


  boundary:
    image: hashicorp/boundary:latest
    command: ["server", "-config", "/boundary/boundary.hcl"]
    volumes:
      - "${PWD}/:/boundary/"
    ports:
      - "9200:9200"
      - "9201:9201"
      - "9202:9202"
    environment:
      - BOUNDARY_PG_URL=postgresql://postgres:postgres@db/boundary?sslmode=disable
      - HOSTNAME=boundary
    depends_on:
      - db-init
    healthcheck:
      test: ["CMD", "curl", "-f", "http://boundary:9200"]
      interval: 3s
      timeout: 5s
      retries: 5

# Private Database Targets - not exposed to host network, only available via Boundary
  cassandra:
    image: bitnami/cassandra:latest

  mysql:
    image: mysql
    environment:
      - 'MYSQL_ROOT_PASSWORD=my-secret-pw'

  redis:
    image: redis

  mssql:
    image: mcr.microsoft.com/mssql/server:2017-CU8-ubuntu
    environment:
      - 'ACCEPT_EULA=Y'
      - 'SA_PASSWORD=yourStrong(!)Password'
